body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  min-height: 100vh;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.link,
.logo {
  text-decoration: none;
  color: currentColor;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #404bbf;
}
.site-cnts .link:hover,
.site-cnts .link:focus {
  color: #404bbf;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* -------Header------- */

/* .page-header {
  border-bottom: 1px solid #e7e9fc;
  top: 0;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
} */
/* .page-header .container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
} */
.navi {
  display: flex;
  align-items: center;
}
/* .logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
} */
/* .logo-header {
  margin-right: 76px;
  padding: 24px 0;
} */
.mobal-nav .site-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}
.site-nav .link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.mobal-nav .cnts {
  display: block;
}
.site-cnts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.site-cnts .link {
  color: #434455;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  font-style: normal;
}

.mobal-social-link .social-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.social-icons-item {
  height: 40px;
  width: 40px;
}
.icon {
  fill: #f4f4fd;
}
.social-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.site-nav {
  display: flex;
  gap: 40px;
}

.accent-header {
  color: #2e2f42;
}
.site-nav .link {
  display: block;
  color: #2e2f42;
  letter-spacing: 0.02em;
  font-weight: 500;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .current {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scaleX(1);
}
.link.current:active {
  color: #404bbf;
}

.site-cnts .link {
  color: #434455;
  font-size: 400;
  font-style: normal;
  align-items: center;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-cnts {
  display: flex;
  gap: 40px;
}

/* -------Hero------- */
.hero {
  max-width: 1440px;
  /* margin: 0 auto;
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
}

/* .hidden-hero,
.btn-hero {
  position: relative;
} */

/* .hidden-hero {
  line-height: 1.07;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
}
.btn-hero {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.btn-hero:hover,
.btn-hero:focus {
  background-color: #404bbf;
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
} */

/* -------Title------- */

/* .title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
} */

.title-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* -------Feature------- */

/* .feature {
  padding: 120px 0;
} */
.feature .container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.feature-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
.feature-list-item {
  justify-content: space-between;
  align-items: center;
  width: calc((100%-3 * 24px) / 4);
}
/* .feature-list-item:nth-child(2) .feature-icon-box,
.feature-list-item:nth-child(3) .feature-icon-box {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
} */
/* .feature-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
} */

.feature-icon {
  display: block;
  fill: #2e2f42;
}

/* -------Our Team------- */

.our-team {
  /* background-color: #f4f4fd; */
  padding: 120px 0;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.team-box {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
/* .team-info {
  text-align: center;
  padding: 32px 0px;
} */

/* .our-team .social-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
} */
/* .social-icons-item {
  height: 40px;
  width: 40px;
} */
.social-link-icon {
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-box .social-link-icon:hover,
.team-box .social-link-icon:focus {
  background-color: #404bbf;
}
.icon {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}

/* -------Our Portfolio------- */

.our-portfolio {
  padding: 120px 0;
}
.portfolio {
  line-height: 1.11111;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-info {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.item-overlay {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* height: 300px; */
}
/* .overlay { */
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  text-align: left;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .overlay-text {
  transform: translateY(0%);
}

/* -------Footer------- */

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.page-footer .container {
  display: flex;
  align-items: baseline;
}
.footer-info {
  margin-right: 120px;
}
.page-footer .text-footer {
  color: #f4f4fd;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.accent-footer {
  color: #f4f4fd;
}
.text-footer {
  max-width: 264px;
}
.footer-icons {
  margin-right: 80px;
}
.social-media {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}
.page-footer .social-icon-list {
  display: flex;
  gap: 16px;
}
.page-footer .icon {
  width: 24px;
  height: 24px;
}
.page-footer .social-link-icon:hover,
.page-footer .social-link-icon:focus {
  background-color: #31d0aa;
}

/* -----Footer-FORM-----  */
.form-name {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-form-input::placeholder {
  color: #ffffff;
}
.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.footer-btn-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* -------Modal------- */

.btn,
input,
textarea {
  font-family: 'Roboto', sans-serif;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal.is-open {
  opacity: 1;
  pointer-events: all;
}
.modal-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-icon-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btn-icon-close:hover,
.btn-icon-close:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}
.modal-icon-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon-btn:hover,
.modal-icon-btn:focus {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-name {
  text-align: center;
  color: #2e2f42;
  font-weight: 500;
  margin-bottom: 16px;
}
.form-list {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input {
  position: relative;
}
.modal-input-box {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-box:hover ~ .modal-icon,
.modal-input-box:focus ~ .modal-icon {
  fill: #4d5ae5;
}
.modal-textarea:hover,
.modal-input-box:hover,
.modal-textarea:focus,
.modal-input-box:focus {
  border-color: #4d5ae5;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-list-textarea {
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-list-policy {
  margin-bottom: 24px;
}
.modal-policy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-textarea:focus::placeholder,
.modal-textarea:hover::placeholder {
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-input-policy:checked + .modal-policy-label .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.policy-link {
  color: #4d5ae5;
  text-decoration: underline;
  line-height: 1.33333;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-btn {
  display: block;
  margin: auto;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* @media screen and (max-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0 16px;
  }
  .hero {
    padding: 72px 0;
    width: 100%;
  }
  .hidden-hero {
    max-width: 216px;
    font-size: 36px;
    line-height: 1.11111;
    margin-bottom: 72px;
  }
  .feature,
  .our-team,
  .our-portfolio,
  .page-footer {
    padding: 96px 0;
  }
  .feature-list {
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }
  .our-team-list {
    gap: 72px;
  }
  .feature-list-item,
  .team-box,
  .portfolio-list-item {
    width: 100%;
  }
  .feature-icon-box {
    display: none;
  }
  .feature .title-name {
    text-align: center;
  }
  .our-team-list {
    margin: 0 12px;
  }
  .team-box {
  }
  .portfolio-list,
  .our-team-list {
    flex-direction: row;
    align-items: center;
  }
  .portfolio-list img {
    height: 280px;
  }

}  */
/* Mobile styles */
/* @media (min-resolution: 192dpi) and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
    margin-left: 0;
    margin-right: 0;
  }
  .logo-header {
    margin-right: 120px;
  }
  .site-cnts {
    display: block;
  }
  .hero {
    padding: 112px 0;
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
  .hidden-hero {
    max-width: 500px;
    margin-bottom: 36px;
  }
  .our-team,
  .feature,
  .our-portfolio,
  .page-footer {
    padding: 96px 0;
  }

  .feature {
    padding: 96px 0;
  }
  .feature-icon-box {
    display: none;
  }
  .feature-list,
  .portfolio-list {
    row-gap: 72px;
  }
  .feature-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .feature-list-item,
  .team-box,
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
  .team-box {
    max-width: 264px;
  }
  .our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
  }

  .page-footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    row-gap: 72px;
    column-gap: 24px;
  }
  .footer-info,
  .footer-icons {
    margin-right: 0;
  }
  .modal-overlay {
    max-width: 768px;
    top: 33%;
  }
}  */
